* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
}

.border1 {
  margin: 0 auto;
  width: 80%;
  height: 80px;
}

.border1 .bg-img {
  background-image: url(../../img/futurecity.jpg);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.col-design {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.col-x {
  margin: -260px auto;
  z-index: 3;
  position: relative;
  background-color: #EEEEEE;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-x .title {
  font-family: Calibri, sans-serif;
  font-size: 25px;
  color: #999797;
  margin-top: 18%;
}

.col-x .name {
  font-weight: 800 !important;
  font-family: round;
  font-size: calc(3rem + 1.5vw);
  color: #AB1CE4;
}

.col-x .content {
  color: #888888;
  font-size: 20px;
}

.col-x .button .start {
  font-size: 17px;
  background-color: #A21AD9;
  width: 75%;
  border-radius: 50px;
  -webkit-box-shadow: 0 0.125rem 0.25rem #A21AD9 !important;
          box-shadow: 0 0.125rem 0.25rem #A21AD9 !important;
  font-weight: 500;
}

.col-x .button .download {
  font-size: 17px;
  width: 75%;
  border-radius: 50px;
  -webkit-box-shadow: 0 0.125rem 0.25rem #A6A6A6  !important;
          box-shadow: 0 0.125rem 0.25rem #A6A6A6  !important;
  color: #A21AD9;
  font-weight: 500;
}

#hinhchunhat {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 0.5;
  background: #AB1CE4;
  z-index: 1;
  position: relative;
}

#hinhtamgiac-trentrai {
  width: 0;
  height: 0;
  border-top: 320px solid #AB1CE4;
  border-right: 380px solid transparent;
  z-index: 1;
  position: relative;
}

#hinhtamgiac-duoiphai {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 320px solid #AB1CE4;
  border-top: 380px solid transparent;
  z-index: 1;
}

.index {
  z-index: 5;
  position: relative;
  color: white;
  margin: -500px auto;
  text-align: center;
  padding: 1.2rem;
}

.border2 {
  visibility: hidden;
  margin: -5% auto;
  width: 80%;
  height: 80px;
  z-index: 4;
  position: relative;
  margin-top: -300px;
}

@font-face {
  font-family: Round;
  src: url(../../fonts/VarelaRound-Regular.ttf);
}

@media (min-width: 731px) and (max-width: 1023) {
  .col-design {
    border-radius: 20px;
    max-height: 400px;
  }
  .start {
    font-size: 14px !important;
  }
  .download {
    font-size: 14px !important;
  }
}

@media (max-width: 730px) and (min-width: 410px) {
  .border1 {
    visibility: hidden;
  }
  .border2 {
    visibility: inherit;
  }
  .border2 .col-design {
    padding-top: 15px;
    padding-bottom: 75px;
    border-radius: 10px !important;
  }
  #hinhtamgiac-trentrai {
    visibility: hidden;
  }
  #hinhtamgiac-duoiphai {
    visibility: hidden;
  }
  .title {
    font-size: 20px !important;
  }
  .name {
    font-size: 45px !important;
  }
}

@media (max-width: 410px) {
  .border1 {
    visibility: hidden;
  }
  .border2 {
    visibility: inherit;
  }
  .border2 .col-design {
    margin: -300px auto !important;
    padding-top: 5px;
    padding-bottom: 60px;
    border-radius: 10px !important;
  }
  #hinhtamgiac-trentrai {
    visibility: hidden;
  }
  #hinhtamgiac-duoiphai {
    visibility: hidden;
  }
  .start {
    font-size: 15px !important;
  }
  .download {
    font-size: 15px !important;
  }
  .name {
    font-size: 35px !important;
  }
  .title {
    font-size: 18px !important;
  }
}
/*# sourceMappingURL=style.css.map */
